<!DOCTYPE html>
<head>
      	<title>Social Listening</title>
      	<script src="/socket.io/socket.io.js"></script>
      	<script src="//ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
      	<script src="/js/functions.js"></script>
        <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
